<md-content>
  <div
    ng-if="!isAuthenticated"
    layout="column"
    layout-align="center center"
    style="margin-top: 50px">
    <div
      layout="column"
      layout-align="center center"
      ng-click="vm.authService.login()">
      <div id="loginLock">
        <i id="locked"
          class="material-icons"
          md-colors="{color:'primary'}"
          style="font-size: 96px">lock</i>
        <i id="unlocked"
          class="material-icons"
          md-colors="{color:'primary'}"
          style="font-size: 96px">lock_open</i>
      </div>
      <p>You must be logged in.</p>
      <p style="margin-top: 0px;">Click to log in.</p>
    </div>
  </div>
  <div
    ng-if="isAuthenticated"
    md-swipe-left="toss(current)"
    md-swipe-right="keep(current)"
    style="margin-top: 50px"
    >
    <div layout="row" flex>
      <span flex></span>
      <md-menu md-position-mode="target-left target" md-offset="0 42">
        <md-button class="md-fab" ng-click="$mdMenu.open($event)">
          <md-icon><i class="material-icons">menu</i></md-icon>
        </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button
              aria-label="Popularity"
              ng-click="$mdMenu.hide()"
              href="http://rhiever.github.io/baby-name-explorer/index.html?BabyName={{current.name}}"
              target="_blank">
              Popularity
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button
              aria-label="Meaning"
              ng-click="$mdMenu.hide()"
              href="https://www.behindthename.com/name/{{current.name}}"
              target="_blank">
              Meaning
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div flex layout="row" layout-align="center center">
      <div ng-class="current.sex === 'M' ? 'circle boy' : 'circle girl'" layout="row" layout-align="center center">
        <p>{{current.name}}</p>
      </div>
    </div>
    <div layout="row" layout-align="center center">
      <md-button class="md-fab" aria-label="Toss" ng-click="toss()">
          <i class="material-icons">delete</i>
      </md-button>
      <span flex></span>
      <md-button class="md-fab" aria-label="Keep" ng-click="keep()">
        <i class="material-icons">favorite</i>
      </md-button>
    </div>
  </div>
</md-content>
